#projH {
    text-align: center;
}
#Outter_DivRes a{
    /* display: flex;
    justify-content: center; */
    margin-top: 180px;
}
.innerDivRes,
.innerDivResOne {
    padding: 30px 100px;
    font-size: 16px;
    background-color: #b47ede;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 240px; /* Remove any margin */
    text-decoration: none; /* Remove default underline for links */
    max-width: 290px;
}
.innerDivRes:hover,
.innerDivResP:hover {
    background-color: #7edeb4;
}

#innerDivResOne{
    border-right-width: 0px;
}

.hover-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hover-button:hover {
    background-color: #2980b9;
}