
#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh; /* Adjust the height as needed */
    background-color: #b47ede;
    z-index: 1; /* Ensure it's higher than the default stacking order */
}
#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh; /* Adjust the height as needed */
    background-color: white;
    z-index: 1; /* Ensure it's higher than the default stacking order */
}
/* body {
    background-color: #b47ede;
} */
#KailaImage{
    display: block;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 100px;
}
.welcome-section {
    text-align: center;
}
#Welcome_h {
    /* position: relative; */
    /*display: block;*/
     margin-left: 700px;
    margin-right: 0px; 
    margin-top: -350px;
}
#Welcome_t {
    /* position: relative; */
    /*display: block;*/
     margin-left: 700px;
    margin-right: auto; 
    margin-top: 0px;
}
#About_h {
    /* position: relative; */
    /*display: block;*/
     margin-left: 700px;
    margin-right: 0px; 
    margin-top: 0px;
}
#About_t {
    /* position: relative; */
    /*display: block;*/
     margin-left: 700px;
    margin-right: 0px; 
    margin-top: 0px;
}
#A_list {
    /* position: relative; */
    /*display: block;*/
     margin-left: 700px;
    margin-right: 0px; 
    margin-top: 0px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 100px;
}
.footerP {
    display: inline-block;
    padding-right: 5px;
}
.footerA {
    display: inline-block;
    padding-right: 5px;
}

.footer:hover {
    background-color:white;
    animation-name: example;
    animation-duration: 10s;
}
@keyframes example {
    /* 0% {background-color: #b47ede;} */
    50% {background-color: #7edeb4;}
    100% {background-color: #b47ede;}
}
#Outter_DivRes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 180px;
}
.innerDivRes{
    padding: 20px 90px;
    font-size: 16px;
    background-color: #b47ede;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 0px;
}
.innerDivResP{
    padding: 20px 90px;
    font-size: 16px;
    background-color: #b47ede;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 300px;
    margin-top: 0px;
}

#innerDivResOne{
    border-right-width: 0px;
}

.hover-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hover-button:hover {
    background-color: #2980b9;
}

#intro,
#about,
#Outter_DivRes,
.footer {
    position: relative;
    z-index: 2;
}
  
